html {
    scroll-behavior: smooth;
}

main {
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.active {
    text-decoration: underline;
}

.popular {
    text-align: center;
}

.gamecard {
    font-family: 'Nunito Sans', sans-serif;
}

/* Buttons*/
.button_white {
    background-color: #FFFFFF;
    color: #1B1F3C;
    text-align: center;
    border-color: #59BED3;
    border-width: 0.2rem;
    border-radius: 7rem;
    border-style: solid;
    font-family: tahoma, verdana,sans-serif;
    font-size: 1rem;
    line-height: 120%;
    margin: 1rem;
    padding: 0.5rem;
}
.button_white :hover {
    text-decoration: underline;
}

.button_turquoise {
    background-color: #59BED3;
    color: #1B1F3C;
    border-style: none;
    border-width: 0.2rem;
    border-radius: 7rem;
    font-family: tahoma, verdana,sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    line-height: 120%;
    margin: 1rem;
    /* padding: 0.8rem; */
}
.button_turquoise :hover {
    text-decoration: underline;
    /* box-shadow: 1em #1B1F3C; */
}


/*Navigation*/
nav, a, li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
    color: black;
    text-align: center;
}

 nav ul li a:hover, li:hover {
    color: #59BED3;
    text-decoration: underline;
} 

/* Hero Banner */
.hero_banner {
    background-image: url(../images/hero_banner_assasin-creed-valhalla.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 600px;
}

.hero_banner p {
    text-transform:uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFFFFF;
    padding-top: 12rem;
}

.gamehub_logobanner_small {
    width: 100%;
}

/*Footer*/
footer {
    background-image: url(../images/footer_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

footer li {
    display:inline-block;
    text-decoration: none;
}

footer li a:hover {
    color:darkcyan;
    text-decoration: underline;
}

.icon {
    display:flow-root;
}

/*Site specific css:::::: */

/* Games.html */
.game_category_banner {
    background-image: url(../images/banner_turkis_smal.jpg);
    background-repeat: no-repeat;  
    text-align: left;
    background-size: cover;
    padding-top: 0.5em;
    padding-left: 3em;
}

.product_list {
    width: 100%;
    margin: 0 auto;
} 

.category_navigation {
    text-align: center;
}

.game_card {
    display: inline-table;
    padding: 1em;
    margin-left: 3em;
    max-width: 299px;
    max-height: 398px;
    object-fit: cover;
}