@font-face {
    font-family: kingdom;
    src: local(kingdom),
        url("../fonts/kingdom.ttf") format("truetype");
}

@font-face {
    font-family: AzeretMono-Light;
    src: local(AzeretMono-Light),
        url("../fonts/AzeretMono-Light.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: kingdom;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

p {
    font-family: AzeretMono-Light;
}

li {
    list-style: none;
    text-decoration: none;
}

h1 {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #F0CA00;
}

/* --------- NAV -------------------- */
nav a {
    padding: 0.2rem;
    color: black;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

nav a:hover,
li:hover {
    color: #59BED3;
    text-decoration: underline;
}

.nav {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.header-items {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.nav-items {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 0 0.5em;
}

.icon {
    font-size: 2rem;
}

.search-container .nav {
    display: flex;
    align-items: center;
}

.search_field {
    background-color: #EFF9FB;
    border: none;
    border-radius: 40px;
    line-height: 2.5em;
    text-align: left;
    padding-left: 0.8rem;
    margin-right: 0.1rem;
}

.search_button {
    border: none;
    background-color: white;
}

.active {
    text-decoration: underline;
}

.form_input {
    background-color: #B2DCDD;
    border: none;
    border-radius: 0px;
    line-height: 2.5em;
    text-align: left;
    padding-left: 0.8rem;
    margin: 0.5rem;
    margin-right: 0.1rem;
}

/* -------- Buttons --------------*/
.button {
    border-width: 0.2rem;
    border-radius: 7rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    line-height: 120%;
    padding: 0.8rem;
    text-decoration: none;

}

.button:hover {
    text-decoration: underline;
}

.button_white {
    background-color: #FFFFFF;
    color: #1B1F3C;
    border-color: #59BED3;
    border-style: solid;
}

.button_turquoise {
    background-color: #59BED3;
    color: #1B1F3C;
    border-style: none;
}


/* ------------ Hero Banner ----------------------*/


.hero_banner {
    background-image: url(../images/hero_v5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 600px;
}

.hero-wrapper {
    background-color: #000000;
    opacity: 0.5;
}

.heroh1 {
    color: white;
    position: center;
    padding-top: 15rem;
    padding-bottom: 1rem;
}

.hero_button_container {
    display: grid;
    padding: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
    gap: 2rem;
    justify-content: center;
}

.hero_banner p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: #FFFFFF;
    padding-top: 12rem;
}


/* ----------- Footer ---------------- */
footer {
    background-image: url(../images/footer_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
    text-decoration: none;
}

footer li {
    display: inline-blo ck;
    text-decoration: none;
}

footer li a:hover {
    color: darkcyan;
    text-decoration: underline;
}

.footer_some a {
    text-decoration: none;
    color: black;
}

/*-------- Site specific css:::::: ----------- */

/* ------- index.html and games.html ------- */
.gamehub_logobanner_small {
    width: 100%;
}

.popular {
    text-align: center;
}

.game_category_banner {
    background-image: url(../images/banner_turkis_smal.jpg);
    background-repeat: no-repeat;
    text-align: left;
    background-size: cover;
    padding-top: 0.5em;
    padding-left: 3em;
}

.category_navigation {
    text-align: center;
    padding-bottom: 1rem;
    display: grid;
    padding: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
    gap: 2rem;
    justify-content: center;
}

.product_list {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 25rem));
    gap: 2rem;
    justify-content: center;
}

.game_card {
    padding: 1em;
    object-fit: cover;
    margin: 1em;
}

.allgames_button {
    padding: 2em;
    text-align: center;
}

.adventure_games {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(20rem, 25rem));
    gap: 2rem;
}

.action_games {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(20rem, 25rem));
    gap: 2rem;
}

.family_games {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(20rem, 25rem));
    gap: 2rem;
}

.sports_games {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(20rem, 25rem));
    gap: 2rem;
}

.games-h1 {
    text-decoration: none;
    padding-bottom: 1rem;
    text-align: center;
}

/* -------------- gamedetail.html -------------- */
.game-detail-page {
    display: flex;
    max-width: 1020px;
    margin: 0 auto;
    padding-bottom: 2em;

}

/* ------------------ cart.html ---------------- */
.in-cart-page {
    display: flex-block;
    align-items: center;
    max-width: 43rem;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;
}

.cart-h1 {
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #F0CA00;
    font-size: large;
    letter-spacing: 0.2rem;
}

.cart-game {
    display: flex;
    align-items: center;
}

/* ------------- payment.html --------------------- */
.checkout-buttons,
.cart-buttons,
.success-button,
.signin-buttons {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.payment-shipping-sections {
    display: flex;
    text-align: left;
    gap: 5rem;
    justify-content: center;
}

.checkout-buttons,
.cart-buttons {
    text-align: right;
    margin-right: 9rem;
}

/* --------------- success.html --------------------- */
.success-page {
    display: flex-block;
    text-align: center;
}

.success-icon {
    color: #59d365;
    font-size: 9rem;
}

/* ---------------- signin.html --------------------- */
.sign-in-page {
    display: flex-block;
    align-items: center;
    max-width: 43rem;
    justify-content: center;
    padding: 1rem;
    margin: 0 auto;

}

.h1-welcome {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #F0CA00;
}

.forgotten_password {
    text-decoration: underline;
}


/* ---------------- about.html ---------------------- */

.about_some {
    display: flex;
    justify-content: center;
    color: #000000;
}

.about-page {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5rem;
    padding: 1rem;
    justify-content: center;
}

.star-logo {
    text-align: center;
}

.about-us-info {
    max-width: 40rem;
    min-width: 10rem;
}

/*  ------------------ contact.html -----------------*/
.contact-button {
    display: block;
    margin: 0.5rem;
}

.contact-page {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5rem;
    padding: 1rem;
    justify-content: center;
}

.form {
    min-width: 40rem;
}

/* -------------- media queries ------------------- */
@media (max-width: 700px) {

    .hero_button_container,
    .category_navigation {
        grid-template-columns: repeat(1, minmax(10rem, 15rem));
    }

    .nav {
        flex-direction: column;
    }

    .contact-page,
    .about-page {
        flex-wrap: wrap;
    }

    .search-container {
        display: none;
    }

    .game-detail-page,
    .in-cart-page,
    .payment-shipping-sections {
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {

    .nav {
        flex-direction: column;
    }

    .contact-page,
    .about-page {
        flex-wrap: wrap;
    }
}

@media (max-width: 1200px) {

    .hero_button_container,
    .category_navigation {
        grid-template-columns: repeat(2, minmax(10rem, 15rem));
    }

    .product_list,
    .action_games,
    .adventure_games,
    .family_games,
    .sports_games {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
        grid-column: auto;
        justify-content: center;
    }

    .contact-page,
    .about-page {
        flex-wrap: wrap;
    }
}

@media (min-width: 1200px) {

    .product_list,
    .action_games,
    .adventure_games,
    .family_games,
    .sports_games {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
        grid-column: auto;
        justify-content: center;
    }

}

/* .contact-page {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5rem;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap; */